<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" routerLink="/menu/tabs/home/details" routerDirection="forward">
    Forward to Details
  </ion-button>
<!--export declare type RouterDirection = 'forward' | 'back' | 'root';
-->
  <ion-button expand="block" routerLink="/blank" routerDirection="back">
    Blank Page with no tabs
  </ion-button>

  <ion-button expand="block" (click)="openMenu()">
    Open Menu
  </ion-button>

  <ion-button expand="block" (click)="presentModal()">Open Modal</ion-button>

</ion-content>
